* {
  margin: 0;
}

.Header {
  display: flex;
  padding: 0 1.5dvw;
  justify-content: space-between;
  background: skyblue;
  text-align: center;

}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100dvw;
  text-align: center;
  background: darkblue;
  color: #fff;
}

.container {
    margin-bottom: 5dvh;
    width: 60dvw;
    padding-left: 20dvw;
}

.two-by {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 2dvw;

}

.genre__edit--p {
  font-size: 1.5rem;
}

.home__btn {
  width: 20dvw;
}

.link-top {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.q-img {
  max-width: 40dvw;
}

#clock {
  font-size: 1.3rem;
  /* width: 9dvw; */
  padding: 0.3dvh 1dvw;
  background-color: #b1b78c;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
  border: 3px inset #666;
  border-radius: 5px;
  font-family: 'Franklin Gothic';
  font-weight: bold;
}